<%- include('includes/head'); %>

  <section class="container">

    <h1>
      <%= titulo %><br> <!--Não executa tags html contidas no "titulo"  -->
      <%- titulo %><br> <!--Executa tags html contidas no "titulo"  -->
    <%= umaVariavelLocal %> <!-- Pode ser usado também uma variavel que este em um middleware -->

    </h1>

    <form action="/" method="post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <label>Cliente</label>
      <input type="text" name="cliente">
      <button> Submit </button>
    </form>
  </section>

<%- include('includes/footer'); %>
